<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_pack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,335}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{422,335}}</string>
                <key>sourceSize</key>
                <string>{468,345}</string>
            </dict>
            <key>theme_pack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{434,335}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{434,335}}</string>
                <key>sourceSize</key>
                <string>{468,345}</string>
            </dict>
            <key>theme_pack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{434,335}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{434,335}}</string>
                <key>sourceSize</key>
                <string>{468,345}</string>
            </dict>
            <key>theme_pack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1013},{428,335}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{428,335}}</string>
                <key>sourceSize</key>
                <string>{468,345}</string>
            </dict>
            <key>theme_pack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1693},{408,341}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{408,341}}</string>
                <key>sourceSize</key>
                <string>{468,345}</string>
            </dict>
            <key>theme_pack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{408,341}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{408,341}}</string>
                <key>sourceSize</key>
                <string>{468,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themescene2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{438,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01641bffacd5abca2cbb3c9d836c2ba0$</string>
            <key>textureFileName</key>
            <string>themescene2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
